*, html body{
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif
   
    

}
header{
    background-color: blue;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}
header h1{
    padding: 23px;
}
ul{
    list-style: none;
    width: 100%;
    overflow: hidden;
    background-color: #333 ;
    position: sticky;
}
li{
    float: left;
}
li a{
    display: inline-block;
    color: floralwhite;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
li a:hover:not(.active){
    background: color #111;;
}

main{
    width: auto;
    height: auto;
    justify-content: center;

}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navigation > li{
    list-style-type: none;
    padding-left: 15px;
}
.navigation >li>a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 1212;
}

.active{
    background-color: #2bbad7;
    color: white;
    padding: 15px;
}
.active:hover{
    color: white !important;
}
.content{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    
}
article img{
    min-height: 450px;
    width: 350px;
    border-radius: 30px;
    object-fit: cover;
    object-position: center;
}
article p{
    margin-top: 20px;
    text-indent: 20px;
}
article h3{
    padding: 10px;
}
article{
    padding: 5px;
    box-shadow: 2px 2px 2px black;
    border-radius: 3px;
}
aside{
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #292c2f;
    color: white;
}
footer{
    text-align: center;
    padding: 4px;
    background-color: #292c2f;
    color: white;
    border-radius: 5%;
    margin-top: 30px;
    height: 250px;

}
#fb-icon {
    background: blue;
    text-indent: -999em;
    width: 120px;
    height: 110px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border: 15px solid blue;
    border-bottom: 0;
  }
  #fb-icon::before {
    content: "/20";
    position: absolute;
    background: blue;
    width: 40px;
    height: 90px;
    bottom: -30px;
    right: -37px;
    border: 20px solid #eee;
    border-radius: 40px;
  }
  #fb-icon::after {
    content: "/20";
    position: absolute;
    width: 55px;
    top: 50px;
    height: 20px;
    background: #eee;
    right: 5px;
  }
  h3{
    text-align: left;
  }
  .atas{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 75px;
    height: 75px;
    background-color: #2bbad7;
    border-radius: 15px;
  }
  @media all and (max-width: 1000px){
    ul{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }
    ul li{
        display: inline-block;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    aside h3, table{
        text-align: center;
    }
    table{
        margin: auto;
    }
}   